{# top.twig #}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>がちゃ</title>
  </head>
  <body>
    <h1>がちゃ</h1>
    <h2>がちゃを引く</h2>
    <a href="./draw_lootbox.php?id=1">普通のがちゃ</a>

    <h1>所持カード</h1>
    <a href="./card_list.php">所持カード一覧</a>
    
  </body>
</html>
